:root {
    --arrow-color: #233735;
}

main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Silka, sans-serif;
}
